# dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Production build
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables (NEVER commit secrets!)
.env
.env*.local
.env.development
.env.test
.env.production


# Vercel
.vercel

# TypeScript build info
*.tsbuildinfo

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
